<p-card *ngIf="contributionVoluntaria">
  <div style="position: absolute">
    <img class="coins" src="../../../../assets/images/coins.svg" alt="Coins" />
  </div>
  <span class="header-title">Contribuição voluntária</span>
  <hr />
  <div class="card-content">
    <div class="contribution-row">
      <span>Valor da contribuição</span>
      <span class="valor-contribuicao">{{
        contributionVoluntaria | brCurrency
      }}</span>
    </div>
  </div>

  <div class="alterar-contribuicao">
    <span class="span-title"> Alterar Contribuição </span>
  </div>
</p-card>
